@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Sans+Pro:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --gold: #FFE9B7;
  --white: #FFFFFF;
  --night-red: #1C1930;
  --navy: #050D25;
  --light-navy: #0B1532;
  --burgunder: #4B3446;
  --occean: #5D7CC8;
  --body-font: 'Source Sans Pro', sans-serif;
  --heading-font: 'Open Sans', sans-serif;
}

body {
  font-family: var(--body-font);
  margin: 0;
  background: var(--navy);
}

.menu a, li{
  color: var(--white);
  text-decoration: none;
  font-size: 22px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

header {
   background: var(--night-red);
   position: sticky;
   top: 0;
   border-bottom: 1px solid var(--gold);
}

.menu ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.menu ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

.home {
  background-image: url("/images/backround_portfolio.png");
  height: 92vh;
  min-height: 800px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  text-align: center;
}

/* fonts */

h1, h2, h3, h4{
  font-family: var(--heading-font);
  text-align: center;
  text-transform: uppercase;
}

h1, h2 {
  color: var(--gold);
}

h3, h4 {
  color: var(--white);
}

h1 {
  font-weight: 900;
  padding-top: 200px;
  font-size: 46px;
  margin: 0px;
}

h2 {
  font-weight: 900;
  padding-top: 80px;
  font-size: 40px;
}

h3 {
  font-weight: 200;
  font-size: 36px;
}

h4 {
  font-weight: 700;
  font-size: 28px;
  margin: 0px;
  padding: 0px;
}

/* Containers and boxes */

.work {
  padding-top: 60px;
}

.work-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 2000px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.work-box {
  text-align: center;
  width: auto;
  margin: 60px;
}

.work-box p {
  color: var(--gold);
  font-size: 22px;
}

.work-box .tags p {
  font-size: 18px;
  color: var(--white);
}

.work-image {
  height: 500px;
  width: 800px;
  background-color: var(--occean);
  border: 4px solid var(--white);
  object-fit: cover;
}

.work-image, .other-projects-image {
  box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.3);
}

.tag {
  background-color: var(--burgunder);
  padding: 10px;
  font-weight: 100;
  display: inline-block;
  border-radius: 5px;
  margin: 1px;
}

.tags {
  justify-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}


.other-projects {
  text-align: center;
  width: 400px;
  margin: 60px;
}

.other-projects .tags p {
  font-size: 18px;
  color: var(--white);
}

.other-projects-image {
  height: 400px;
  width: auto;
  object-fit: contain;
  background-color: var(--navy);
  border: 4px solid var(--white);
}

.other-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1400px;
}
.other-projects p {
  color: var(--gold);
  font-size: 22px;
}

#otherProjects {
background-color: var(--light-navy);
padding-top: 60px;
padding-bottom: 60px;
}


/* Buttons */

.btn {
  width: 200px;
  font-size: 20px;
  background: none;
  border: 2px solid var(--occean);
  border-radius: 20px;
  color: var(--occean);
  padding: 8px;
  margin: 4px;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid var(--gold);
  color: var(--gold);
}

.btn:active {
  border: 1px solid var(--gold);
  color: var(--gold);
  background-color: var(--burgunder);
}

footer {
  width: 100%;
  background-color: var(--burgunder);
  border-top: 1px solid var(--orange);
  padding-bottom: 40px;
}

.footer-content {
  width: 320px;
  margin: 0 auto;
}


footer h2{
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
}

footer a{
  color: var(--white);
  font-size: 22px;
  display: inline-block;

  padding-bottom: 15px;
  line-height: 2.5;
}

.fab{
  color: var(--gold);
  padding-right: 15px;
}

.fa-angle-down {
  margin-top: 2vh;
  cursor: pointer;
  color: var(--white);
}

.fa-angle-down:hover, a:hover{
  color: var(--gold);
}


/* Icon styling from Fontawsome*/

.fa-github:before {
  content: "\f09b"
}

.fa-linkedin:before {
  content: "\f08c"
}

.fa-envelope:before {
  content: "\f0e0"
}

.fa-angle-down:before {
  content: "\f107"
}

.fa-2x {
  font-size: 1.8em
}

.fa-4x {
  font-size: 4em
}

.fa-brands,
.fab {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400
}

.fa,
.fa-brands,
.fa-solid,
.fab,
.fas
 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto
}

:host,
:root {
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free"
}

@font-face {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(../webfonts/fa-solid-900.woff2) format("woff2"), url(../webfonts/fa-solid-900.ttf) format("truetype")
}

.fa-solid,
.fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 900
}

@font-face {
  font-family: "Font Awesome 6 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../webfonts/fa-brands-400.woff2) format("woff2"), url(../webfonts/fa-brands-400.ttf) format("truetype")
}


/* Responsive styling*/

@media only screen and (min-width: 680px) and (max-width: 840px) {

  .work-box .tags p {
    font-size: 16px;
  }

  .tag {
    padding: 5px;
  }

  .work-box {
    text-align: center;
    width: auto;
    margin: 50px;
  }
  
  .work-box p {
    font-size: 18px;
  }
  
  .work-image {
    height: 400px;
    width: auto;
  }

  .btn {
    width: 130px;
    font-size: 16px;
    padding: 6px;
    margin-top: 4px;
  }

  .menu a, li{
    font-size: 18px;
  }

  .menu ul li {
    padding: 10px;
  }
}


@media only screen and (min-width: 420px) and (max-width: 680px) {
  .work-box .tags p {
    font-size: 16px;
  }

  .tag {
    padding: 5px;
  }

  .work-box {
    text-align: center;
    width: auto;
    margin: 50px;
  }
  
  .work-box p {
    font-size: 17px;
  }

  .btn {
    width: 130px;
    font-size: 16px;
    padding: 6px;
    margin-top: 4px;
  }
  
  .work-image {
    height: 300px;
    width: 400px;
  }

  .menu a, li{
    font-size: 18px;
  }

  .menu ul li {
    padding: 4px;
  }
}

@media screen and (max-width: 840px) {

  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 24px;
  }

  footer a{
    font-size: 18px;
  }

  .footer-content {
    width: 266px;
  }

  .fa-4x {
    font-size: 2.5em;
  }

  .fa-2x {
    font-size: 1.5em
  }

}


@media screen and (max-width: 420px){

  .work-image {
    height: 300px;
    width: 300px;
  }

  h2 {
    font-size: 26px;
  }


.btn {
  width: 130px;
  font-size: 16px;
  padding: 6px;
  margin-top: 4px;
}

.menu a, li{
  font-size: 14px;
}

.menu ul li {
  padding: 2px;
}

.other-projects {
  text-align: center;
  width: 400px;
  margin: 60px;
}

.other-projects p, .work-box p{
  font-size: 18px;
}

.other-projects .tags p {
  font-size: 18px;
  color: var(--white);
}

.other-projects-image {
  height: 300px;
} 

.work-box .tags p {
  font-size: 14px;
}
  }
  
